name: GitLab CI
on:
  push:
    branches-ignore:
    - documentation
  pull_request:
    branches-ignore:
    - documentation

defaults:
  run:
    shell: bash

jobs:
  init:
    runs-on: ubuntu-latest
    steps:
    - name: Always
      run: echo 'Hello!'
    - name: Not in a fork
      if: github.repository_owner == 'skosukhin'
      run: echo '${{ github.repository_owner }}'
    - name: Not in a PR from a fork
      if: github.event.pull_request.head.repo.owner.login == 'skosukhin'
      run: echo '${{ github.event.pull_request.head.repo.owner.login }}'
